@import "../../../assets/sytles/_common.css";

.headingTop {
    font-size: 20px;
    color: #EB1A30;
    font-family: "Barlow-Medium", Arial, Helvetica, sans-serif;
    text-align: center;
}

.item {
    font-size: 14px;
    color: #000;
    font-family: "Barlow-Medium", Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.value {
    font-size: 14px;
    color: #000;
    font-family: 'Barlow-Bold', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.statscss {
    padding: 5px 16px;
    border-radius: 20px;
    color: #000;
    font-family: "Barlow-Medium", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;

    &.padding {
        background-color: rgba(5, 179, 232, 0.4);
        border: 1px solid #05B3E8;
    }
     &.cancelled {
        background-color: rgba(220, 41, 30, 0.4);
        border: 1px solid rgba(220, 41, 30, 0.6);
    }
    &.invalid{
        background-color: rgba(255, 204, 110, 1);
        border: 1px solid rgba(232, 150, 0, 1); 
    }
    &.valid{
         background-color: rgba(102, 234, 154, 1);
        border: 1px solid rgba(25, 175, 84, 1); 
    }
    &.manuallyProcessed{
         background-color: rgba(163, 49, 157, 0.45);
        border: 1px solid rgba(185, 65, 179, 1); 
    }
    &.sentToSL{
         background-color: rgba(89, 196, 19, 0.65);
        border: 1px solid rgba(75, 158, 21, 1); 
    }
}

.width100 {
    width: 130px;
}



table.gridtable th {
    font-size: 14px;
    color: #000;
    font-family: "Barlow-Medium", Arial, Helvetica, sans-serif;
    font-weight: normal;
}

table.gridtable td {
    font-size: 14px;
    color: #000;
    font-family: 'Barlow-Bold', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.accordionBrd {
    background-color: #fff;

}

.viewHistory {
    color: rgba(25, 59, 112, 1);
    font-family: "Barlow-Medium", Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.border-bottom {
    border-bottom: 1px solid #ddd;
}

:host ::ng-deep .btns {
    width: auto;
    height: auto;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

:host ::ng-deep .btn-primary {
    font-family: 'Barlow-SemiBold', Arial, Helvetica, sans-serif;
    color: #fff;
    background: #193B70;
    border: 1px solid #193B70;
}

:host::ng-deep .btn-secondary {
    font-family: 'Barlow-SemiBold', Arial, Helvetica, sans-serif;
    background: #fff;
    border: 1px solid #193B70;
    color: #193B70;
}


:host::ng-deep .p-datepicker-dropdown {
    background: white;
}

:host::ng-deep .p-datepicker {
    .p-inputtext {
        border-right: 0px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
    }
}

:host::ng-deep .p-dialog .p-dialog-header {
    background: rgba(25, 59, 112, 0.16);
    box-shadow: rgba(0, 0, 0, 0.1);
    padding: 5px 16px 5px 24px;
}

:host::ng-deep .p-button-text.p-button-secondary {
    color: red;
}

:host::ng-deep .p-accordioncontent-content {
    padding: 10px;
}

:host::ng-deep .p-timeline-left .p-timeline-event-opposite {
    text-align: left;
}

:host::ng-deep .p-timeline-event-opposite {
    flex: 0;
}

:host::ng-deep .p-accordionpanel {
    border: 1px solid rgba(0, 57, 166, 0.1);
    margin-bottom: 10px;
}

:host::ng-deep .p-accordioncontent-content {
    border-color: white;
    background-color: rgba(223, 228, 235, 0.35);
}

:host::ng-deep .p-accordionpanel:not(.p-disabled).p-accordionpanel-active>.p-accordionheader {
    background-color: rgba(223, 228, 235, 0.35);
}

:host::ng-deep .p-accordionpanel:first-child>.p-accordionheader {
    background-color: rgba(223, 228, 235, 0.35);
}

:host::ng-deep .p-accordionpanel>.p-accordionheader {
    background-color: rgba(223, 228, 235, 0.35);
}